@page
@model IndexModel

<div class="d-flex flex-column align-items-center justify-content-center" style="min-height:60vh;">
 <h2 class="display-4 text-center">Registeration Management System</h2>

 <p class="lead text-center fs-4">
 Select Top menu Registeration to register students for courses.
 </p>
</div>
